name: telegram message
on: 
  pull_request:
    branches: [ "master" ]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: send telegram message on push
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            -- â³ NEW PULL REQUEST --
            Sender : ${{ github.actor }}

            Repo : ${{ github.head_ref }} -> ${{ github.base_ref }}

            Pull Request : ${{ github.event.pull_request._links.html.href }}

            # GitHub :
            # echo "${{toJSON(github)}}" 

            Commit message: 
            # echo "${{toJSON(github.event)}}"
            ${{ github.event.head_commit.message }}

            Repository: 
            ${{ github.repository }}
            
            See changes: 
            https://github.com/${{ github.repository }}/commit/${{github.sha}}